* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

#userDashboard {
    max-width: var(--max-width);
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #userDashboard {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }
}
