table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 16px;
    border: 1px solid var(--border-color);
    text-align: left;
    word-wrap: break-word;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
}

@media (max-width: 768px) {
    th, td {
        padding: 10px;
        font-size: 0.9rem;
    }

    table {
        font-size: 0.85rem;
    }

    #userTableBody {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    tr {
        margin-bottom: 10px;
    }
}
